HELP.md		<plugin>
			<groupId>org.codehaus.mojo</groupId>
			<artifactId>flatten-maven-plugin</artifactId>
			<version>1.2.2</version>
			<configuration>
				<updatePomFile>true</updatePomFile>
				<flattenMode>minimum</flattenMode>
			</configuration>
			<executions>
				<execution>
					<id>flatten</id>
					<phase>process-resources</phase>
					<goals>
						<goal>flatten</goal>
					</goals>
				</execution>
				<execution>
					<id>flatten.clean</id>
					<phase>clean</phase>
					<goals>
						<goal>clean</goal>
					</goals>
				</execution>
			</executions>
		</plugin>
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### flatten-maven-plugin
.flattened-pom.xml
